@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.red {
  color: red;
}

h1 {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-size: 4rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--beige);
  margin: 0;
}

.books {
  height: 10rem;
}

.unread {
  background-color: var(--beige);
}

.reading {
  background-color: var(--turquoise);
}

.read {
  background-color: var(--orange);
}

.abandoned {
  background-color: var(--brown);
}

h2 {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--beige);
  margin: 0;
}

.search {
  display: flex;
  align-items: center;
}

input {
  border-radius: 5px;
}

.home-presentation {
  position: absolute;
  width: 80%;
  height: 10rem;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (min-width: 1200px) {
  .home-presentation {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
