@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

a {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-size: 4rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--beige);
}

.signUpBtn {
  background-color: var(--orange);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}

.column {
  width: 25%;
  height: 40rem;
}

.brown {
  background-color: var(--brown);
}

.beige {
  background-color: var(--beige);
}

.turquoise {
  background-color: var(--turquoise);
}

.orange {
  background-color: var(--orange);
}

header {
  position: relative;
}

.loginBlocks {
  position: absolute;
  width: 20rem;
  height: 10rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  padding-bottom: 0.5rem;
}

.row span {
  font-size: 40px;
}

.row input {
  width: 100%;
  height: 2.5rem;
  margin-left: 1.5rem;
  border-radius: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 1rem;
}

.buttons button {
  background-color: transparent;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
}

.forgotBtn {
  color: var(--brown);
  border: 0.5px solid var(--brown);
}

.signInBtn {
  color: var(--orange);
  border: 0.5px solid var(--orange);
}

@media (min-width: 640px) {
  .signUpBtn {
    right: 1.5rem;
  }
  .buttons {
    justify-content: space-between;
  }
}
