@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

body {
  margin: 0;
}

.profile-brown {
  color: var(--brown);
}

.profile-beige {
  color: var(--beige);
}

.profile-turquoise {
  color: var(--turquoise);
}

.profile-orange {
  color: var(--orange);
}

.profile-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.profile-left-icons span,
.profile-right-icons span {
  padding: 0.2rem;
}

h1 {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-size: 4rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--beige);
  margin: 0;
}

.profile-gradient {
  height: 1rem;
  display: flex;
}

.profile-gradient * {
  width: 25%;
}

.profile-header {
  display: flex;
}

h3 {
  padding-top: 8rem;
  padding-bottom: 4rem;
  font-family: "Irish Grover", system-ui;
  font-size: 2rem;
}

.profile-row {
  display: flex;
  align-items: center;
  gap: 3px;
}

.profile-books {
  height: 40rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-unread {
  background-color: var(--beige);
}

.profile-reading {
  background-color: var(--turquoise);
}

.profile-read {
  background-color: var(--orange);
}

.profile-abandoned {
  background-color: var(--brown);
}

img {
  background: transparent; /* Ensure background is transparent */
  border: none; /* Remove any borders */
  display: block; /* Optional: removes bottom space in some cases */
}

main {
  margin-top: 1rem;
  display: flex;
  justify-content: right;
  gap: 3rem;
  align-items: center;
}

h2 {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--beige);
  margin: 0;
}

.profile-search {
  display: flex;
  align-items: center;
}

input {
  border-radius: 5px;
}
